@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}



body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f3f4f6;
  color: #18181b;
}
